<div class="container">
    <div class="row">
        <div *ngFor="let country of countries" class="card my-5 mx-4 text-white bg-dark" style="width: 20rem;">
            <a routerLink="" style="color: white;">
                <img src={{country.flag}} class="card-img-top" alt="..." sizes="300px">
                <div class="card-body">
                    <h5 class="card-title">{{country.name}}</h5>
                    <p class="card-text">{{country.capital}}</p>
                    <p class="card-text"> {{country.population}}</p>
                </div>
            </a>
        </div>
    </div>
</div>